html{
	padding: 0;
	margin: 0;
}
.Header{
	height: 100px;
	width: 100%;
	background-color: #363652;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 2;
}

.Emblem{
	background-color: #EBE636;
	justify-content: center;
	width: 200px;
	padding: 10px;
}

.Emblem h2{
	margin: 0;
}

.Emblem:hover{
	cursor: pointer;
}

.Menu{
	padding-top: 50px;
}

ul li{
	color: white;
	list-style-type: none;
	display: inline;
	justify-content: space-between;
	margin: 50px;
}

ul li:hover{
	color:yellow;
	cursor: pointer;
}

.body-main{
	background-image: url(https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-position: center;
	background-attachment: fixed;
	height: 800px;
}

.body-main h1{
	position: relative;
	top: 250px;
	margin-left: 500px;
	width: 600px;
	color: white;
}

.second{
	background-color: white;
	height: 500px;
}

.second h1{
	color: #ADADB6;
	margin-left: 600px;
	margin-top: 50px;
}

.cards-holder{
	width: 100%;
	justify-content: center;
}
.cards-holder .card{
	width: 18rem;
	margin-left: 20px;
	background-color:#F4F4F9
}

.card-title{
	color:#9696C4;
}

.about{
	height: 700px;
	vertical-align:top;
	display: flex;
}

.info{
	width: 80%;
	background-color:#F4F4F9;
	display: inline-block;
}

.info h1{
	color: #ADADB6;
	margin-top: 50px;
	margin-left: 20%;
	margin-bottom: 5%;
}

.info h5{
	color: black;
	margin-left: 20%;
	width: 50%;
}

.pcr{
	height: 100%;
	width: 100%;
	background-image: url(https://si.wsj.net/public/resources/images/BN-MB187_RENTBO_P_20160111170818.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: inline-block;
}

.projects{
	height: auto;
}

.projects .cards-holder .card{
	width: 30rem;
	margin-left: 20px;
	margin-bottom: 20px;
}

.projects .cards-holder .card:hover{
	cursor: pointer;
	opacity: 0.5;
}

.contacts{
	background-color: #E0E0E9;
	height: 50px;
}